/* Portrait */
@media screen and (orientation: portrait) {
    p { font-family: Arial, Helvetica; text-align: center; color: #434343; margin: 0.2em}
    .appendix.title { font-size: 4vw; font-weight: bold; margin: 1em 0.2em auto}
    .appendix.sentence { font-size: 3vw; margin: 0.8em}
    .emphasis.red { font-size: 7vw; color: red; font-weight: bold}
    .emphasis { font-size: 7vw; font-weight: bold}
    .category { font-size: 3vw}
    .stats { font-size: 3vw}
    .days { font-size: 7vw; margin: 0px}
    .digits { font-size: 12vw; font-weight: bold; margin: 0px; line-height: 90%}
    .sentence { font-size: 4vw; margin-bottom: 0.5em}
    .name { font-size: 7vw; font-weight: bold}
    span.note{ font-size: 3vw; color: #aaaaaa; margin: 0em}
    img { width: 30%; height: 30%}
    div.card { flex-basis: 100%; margin: 0px}
}

/* Landscape */
@media screen and (orientation: landscape) {
    p { font-family: Arial, Helvetica; text-align: center; color: #434343; margin: 0.2em}
    .appendix.title { font-size: 2vw; font-weight: bold; margin: 1em 0.2em auto}
    .appendix.sentence { font-size: 1.5vw; margin: 0.8em}
    .emphasis.red { font-size: 3vw; color: red; font-weight: bold}
    .emphasis { font-size: 3vw; font-weight: bold}
    .stats { font-size: 1.5vw}
    .days { font-size: 3.5vw; margin: 0px}
    .digits { font-size: 7vw; font-weight: bold; margin: 0px; line-height: 90%}
    .sentence { font-size: 2vw; margin-bottom: 0.5em}
    .name { font-size: 3.5vw; font-weight: bold}
    span.note{ font-size: 1.5vw; color: #aaaaaa; margin: 0em}
    img { width: 35%; height: 35%}
    div.card { flex-basis: 45%; margin: 0px}
}

/* Common items */
hr.dotted { border-top: 3px dotted #434343; margin-top: 5em}
div.menu{ display: flex; flex-wrap: wrap; justify-content: space-evenly; align-items: center; margin: 0px}
div.cards { display: flex; flex-wrap: wrap; justify-content: center; align-items: center; margin: 0px}
div.visual_info { display: flex; justify-content: center; align-items: center; margin: 0px}
span.stats_digits { font-weight: bold}
span.up:after { content: " (Speeding up)"; color: red }
span.down:after { content: " (Slowing down)"; color: green}
span.same:after { content: " (Constant rate)"; color: gray}

