<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>COVID-19 あと何日？</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
        <script>
            function update_selection(){
              console.debug('called')
              pulldown_option = document.getElementById('name').getElementsByTagName('option');
              for(i=0; i<pulldown_option.length;i++){
                if(pulldown_option[i].value != "{{ name }}"){
                  continue;
                }
                pulldown_option[i].selected = true;
                console.debug('found')
                break;
              }
              document.getElementById('name').focus();
            }

            function reload(){
                var name = document.getElementById('name').value;
                window.location = "?name=" + name;
            }
        </script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body onload="update_selection()">

        <div class='menu'>
        <select id='name' onchange="reload()">
            {{ menu_items | safe }}
        </select>
        <p class='category'>
        <a href='https://visualization.pythonanywhere.com/world/'>WORLD</a> / <a href='https://visualization.pythonanywhere.com/usa/'>UNITED STATES</a> / 
        <a href='https://visualization.pythonanywhere.com/japan/'>JAPAN (English)</a>
        </p>
        </div>

        <p class='name'>Time left for {{ name }}</p>

        <p class='stats'>{{ date }}, 感染者数 <span class='stats_digits'>{{ current_total }}</span>人, １日の増加率 <span class='{{ change }}'><span class='stats_digits'>{{ rate }}%</span></span></p>

        <p class='sentence'>今日と同じ増加率が今後も続いた場合</p>

        <div class='cards'>
            <div class='spacer'></div>

            <!-- one in 500 -->
            <div class='card'>
                <div class='visual_info'>
                    <div class='days'>
                        <p class='digits'>{{ time_1_per_500}}</p>
                        <p class='days'>days</p>
                    </div>
                    <img src="{{url_for('static', filename='1_per_500.png')}}">
                </div>
                <p class='sentence'>近隣の誰かが感染するまで（500人に1人）<br>
                <span class='note'>*感染後 回復する人数は計算に含まれていません</span></p>
            </div>

            <!-- one in 3 -->
            <div class='card'>
                <div class='visual_info'>
                    <div class='days'>
                        <p class='digits'>{{ time_1_per_3}}</p>
                        <p class='days'>days</p>
                    </div>
                    <img src="{{url_for('static', filename='1_per_3.png')}}">
                </div>
                <p class='sentence'>家族の誰かが感染するまで（3人に1人）</p>
            </div>

            <div class='spacer'></div>

            <div class='spacer'></div>

            <!-- everyone -->
            <div class='card'>
                <div class='visual_info'>
                    <div class='days'>
                        <p class='digits'>{{ time_everyone}}</p>
                        <p class='days'>days</p>
                    </div>
                    <img src="{{url_for('static', filename='everyone.png')}}">
                </div>
                <p class='sentence'>地域全員が感染するまで</p>
            </div>

            <!-- hospital beds -->
            <div class='card'>
                <div class='visual_info'>
                    <div class='days'>
                        <p class='digits'>{{ time_no_bed}}</p>
                        <p class='days'>days</p>
                    </div>
                    <img src="{{url_for('static', filename='hospital_bed.png')}}">
                </div>
                <p class='sentence'>感染者数が病院の全病床数を上回るまで<br>
                <span class='note'>*全病床のうちCOVID-19患者用のものはごく一部です</span></p>
            </div>

            <div class='spacer'></div>
        </div>

        <p class='sentence'>
        <span class='emphasis red'>この未来は変えられる</span><br>
        <span class='emphasis'>外出を控え</span><br>
        <span class='emphasis'>こまめに手を洗おう</span><br>
        </p>

        <div class='cards'>
          <div id='stage'></div>
        </div>
        <script>
          var data = [{
            x: [{{ dates | safe}}],
            y: [{{ cases }}],
            type: 'line',
            line: {
              color: 'rgb(255, 0, 0)',
              width: 2
            }
          }];
          var options = {
            yaxis: {
              title: 'Total cases',
              type: 'log',
              autorange: true,
            },
            margin: {
              l: 60,
              r: 0,
              b: 30,
              t: 0,
            },
          }
          Plotly.plot('stage', data, options);
        </script>

        <hr class='dotted'>

        <div>
            <p class='appendix title'>Data source</p>
            {{ data_source | safe }}
            <p class='appendix title'>How it's calculated</p>
            <p class='appendix sentence'>Precise estimation is not my goal,<br>I want to change the predicted future instead.</p>
            <p class='appendix sentence'>Simple extrapolation is used for the estimations.</p>
            <p class='appendix sentence'>1) Extract the number of cases for the last 7 days.</p>
            <p class='appendix sentence'>2) Calculate the growth ratio by applying a linear regression in log space.</p>
            <p class='appendix sentence'>3) Extrapolate the numbers using the rate.</p>
            <p class='appendix sentence'>Recovery population is not taken into account.</p>
            <p class='appendix sentence'>The number of hospital beds is NOT a live update.</p>
        </div>
    </body>
</html>
