<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>COVID-19 How many days do we have?</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
        <script>
            function update_selection(){
              console.debug('called')
              pulldown_option = document.getElementById('name').getElementsByTagName('option');
              for(i=0; i<pulldown_option.length;i++){
                if(pulldown_option[i].value != "{{ name }}"){
                  continue;
                }
                pulldown_option[i].selected = true;
                console.debug('found')
                break;
              }
              document.getElementById('name').focus();
            }

            function reload(){
                var name = document.getElementById('name').value;
                window.location = "?name=" + name;
            }
        </script
    </head>
    <body onload="update_selection()">

        <div class='menu'>
        <select id='name' onchange="reload()">
            {{ menu_items | safe }}
        </select>
        <p class='category'>
        <a href='https://visualization.pythonanywhere.com/world/'>WORLD</a> / <a href='https://visualization.pythonanywhere.com/usa/'>UNITED STATES</a> / 
        <a href='https://visualization.pythonanywhere.com/japan/'>JAPAN (English /</a>
        <a href='https://visualization.pythonanywhere.com/ja/japan/'>日本語)</a>
        </p>
        </div>

        <p class='name'>Time left for {{ name }}</p>

        <p class='stats'>{{ date }}, total <span class='stats_digits'>{{ current_total }}</span>, increasing <span class='{{ change }}'><span class='stats_digits'>{{ rate }}%</span> per day</span></p>

        <p class='sentence'>If the growth rate stays the same as the last 7 days</p>

        <div class='cards'>
            <div class='spacer'></div>

            <!-- one in 500 -->
            <div class='card'>
                <div class='visual_info'>
                    <div class='days'>
                        <p class='digits'>{{ time_1_per_500}}</p>
                        <p class='days'>days</p>
                    </div>
                    <img src="{{url_for('static', filename='1_per_500.png')}}">
                </div>
                <p class='sentence'>One neighbor will be infected (one in 500)<br>
                <span class='note'>*Including people who get recovered</span></p>
            </div>

            <!-- one in 3 -->
            <div class='card'>
                <div class='visual_info'>
                    <div class='days'>
                        <p class='digits'>{{ time_1_per_3}}</p>
                        <p class='days'>days</p>
                    </div>
                    <img src="{{url_for('static', filename='1_per_3.png')}}">
                </div>
                <p class='sentence'>One family member will be infected (one in 3)<br>
            </div>

            <div class='spacer'></div>
            
            <div class='spacer'></div>

            <!-- everyone -->
            <div class='card'>
                <div class='visual_info'>
                    <div class='days'>
                        <p class='digits'>{{ time_everyone}}</p>
                        <p class='days'>days</p>
                    </div>
                    <img src="{{url_for('static', filename='everyone.png')}}">
                </div>
                <p class='sentence'>Everyone will be infected</p>
            </div>

            <!-- hospital beds -->
            <div class='card'>
                <div class='visual_info'>
                    <div class='days'>
                        <p class='digits'>{{ time_no_bed}}</p>
                        <p class='days'>days</p>
                    </div>
                    <img src="{{url_for('static', filename='hospital_bed.png')}}">
                </div>
                <p class='sentence'>Total cases will be more than hospital beds<br>
                <span class='note'>*Far fewer beds are available for COVID-19</span></p>
            </div>

            <div class='spacer'></div>
        </div>

        <p class='sentence'>
        <span class='emphasis red'>You can change this future</span><br>
        <span class='emphasis'>STAY AT HOME</span><br>
        <span class='emphasis'>WASH YOUR HANDS</span><br>
        </p>

        <hr class='dotted'>

        <div>
            <p class='appendix title'>Data source</p>
            {{ data_source | safe }}
            <p class='appendix title'>How it's calculated</p>
            <p class='appendix sentence'>Precise estimation is not my goal,<br>I want to change the predicted future instead.</p>
            <p class='appendix sentence'>Simple extrapolation is used for the estimations.</p>
            <p class='appendix sentence'>1) Extract the number of cases for the last 7 days.</p>
            <p class='appendix sentence'>2) Calculate the growth ratio by applying a linear regression in log space.</p>
            <p class='appendix sentence'>3) Extrapolate the numbers using the rate.</p>
            <p class='appendix sentence'>Recovery population is not taken into account.</p>
            <p class='appendix sentence'>The number of hospital beds is NOT a live update.</p>
        </div>
    </body>
</html>
